<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.shop.domain.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid" jdbcType="INTEGER" property="oid" />
    <result column="goodsId" jdbcType="INTEGER" property="goodsid" />
    <result column="createtime" jdbcType="DATE" property="createtime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oid, goodsId, createtime, comment
  </sql>

</mapper>