<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.shop.mapper.DetailGradeMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.shop.domain.DetailGrade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="statement" jdbcType="VARCHAR" property="statement" />
  </resultMap>
  <sql id="Base_Column_List">
    id, statement
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_detailgrade
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_detailgrade
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.shop.domain.DetailGrade">
    insert into t_detailgrade (id, statement)
    values (#{id,jdbcType=INTEGER}, #{statement,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.shop.domain.DetailGrade">
    insert into t_detailgrade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="statement != null">
        statement,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statement != null">
        #{statement,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.shop.domain.DetailGrade">
    update t_detailgrade
    <set>
      <if test="statement != null">
        statement = #{statement,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.shop.domain.DetailGrade">
    update t_detailgrade
    set statement = #{statement,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>