<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.shop.mapper.ImgMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.shop.domain.Img">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="imginfo" jdbcType="VARCHAR" property="imginfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, imginfo
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_img
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_img
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.shop.domain.Img">
    insert into t_img (id, imginfo)
    values (#{id,jdbcType=INTEGER}, #{imginfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.shop.domain.Img">
    insert into t_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="imginfo != null">
        imginfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="imginfo != null">
        #{imginfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.shop.domain.Img">
    update t_img
    <set>
      <if test="imginfo != null">
        imginfo = #{imginfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.shop.domain.Img">
    update t_img
    set imginfo = #{imginfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>